<launch>
   <node name="dynamic_pc2" type="pc2_from_image.py" pkg="pc_playground" output="screen"
     args="/home/max/Pointcloud_playground/pc_ws/src/pc_playground/test_images/NYU/pairs/depth_1.pgm"/>

   <node pkg="rviz" type="rviz" name="rviz_thermal" args="-d $(find pc_playground)/rviz/dynamic_pc2.rviz"/>
</launch>
