<launch>
   <node pkg="rosbag" type="play" name="player" output="screen" args="-l /home/max/Pointcloud_playground/pc_ws/src/pc_playground/test_images/nsh_east/nsh_east_sparse_depth_part2.bag"/>
   <node pkg="rviz" type="rviz" name="rviz_thermal" args="-d $(find pc_playground)/rviz/bag_pc2.rviz"/>

   <node name="reasign_rgb_img" type="reasign_frame_id.py" pkg="pc_playground" output="screen" args="/camera/rgb/image_rect"/>
<!--
   <node name="reasign_rgb_camera_info" type="reasign_frame_id.py" pkg="pc_playground" output="screen" args="/camera/rgb/camera_info"/>
 -->
   <node name="reasign_depth_img" type="reasign_frame_id.py" pkg="pc_playground" output="screen" args="/camera/depth_registered/image"/>
   <node name="pc2_from_ros" type="pc2_from_ros.py" pkg="pc_playground" output="screen">
     <remap from="/rgb_img" to="/new_frame_id/camera/rgb/image_rect"/>
     <remap from="/depth_img" to="/new_frame_id/camera/depth_registered/image"/>

  </node>


</launch>
