<launch>
   <node pkg="rosbag" type="play" name="player" output="screen" args="-l /home/max/Pointcloud_playground/pc_ws/src/pc_playground/test_images/nsh_east/nsh_east_sparse_depth_part2.bag"/>
   <node pkg="rviz" type="rviz" name="rviz_thermal" args="-d $(find pc_playground)/rviz/bag_pc2.rviz"/>

   <node name="reasign_rgb_img" type="reasign_frame_id.py" pkg="pc_playground" output="screen" args="/camera/rgb/image_rect"/>
<!--
   <node name="reasign_rgb_camera_info" type="reasign_frame_id.py" pkg="pc_playground" output="screen" args="/camera/rgb/camera_info"/>
 -->
   <node name="reasign_depth_img" type="reasign_frame_id.py" pkg="pc_playground" output="screen" args="/camera/depth_registered/image"/>



   <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />

  <node pkg="nodelet" type="nodelet" name="nodelet1"
        args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager">
    <remap from="rgb/image_rect_color" to="/new_frame_id/camera/rgb/camera_info"/>
    <remap from="rgb/camera_info" to="camera/rgb/camera_info"/>
    <remap from="depth_registered/image_rect" to="/new_frame_id/camera/depth_registered/image"/>

    <remap from="depth_registered/points" to="out_points"/>


  </node>

  <node pkg="tf" type="static_transform_publisher" name="camera_to_optical_tf" args="0 0 0 0 0 0 1 map camera_rgb_optical_frame 10" />

</launch>
